<nav class="container navbar navbar-expand-lg navbar-light justify-content-between">
  <a class="navbar-brand" href="#">MuzikPe<span class="brand-symbol">✪</span>ple</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <div class="" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/features">Features</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-success" href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
      </li>
    </ul>
  </div>
</nav>
