<section class="container headline text-center">
  <h2>We create qualyty designs</h2>
  <h3>We specialize in Web Design / Development and Graphic Design</h3>
</section>

<section class="image-carousel container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor="let item of products; let isFirstInd=first" [ngClass]="{'active' : isFirstInd}" data-target="#carouselExampleIndicators" data-slide-to="" ></li>
    </ol>
    <div class="carousel-inner">
      <div class="overlay-carousel"></div>

      <div class="carousel-item" *ngFor="let item of products; let isFirstItem=first" [ngClass]="{'active' : isFirstItem}">
        <img src="{{item.url}}" alt="{{item.title}}" class="img-fluid">
        <div class="carousel-caption d-none d-md-block">
          <h3>{{item.title}}</h3>
          <p>{{item.title}}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
  </div>
</section>
