<app-slideshow></app-slideshow>

<gallery-component></gallery-component>

<section class="features border-bottom large-section">
  <div class="container">
    <h2 class="section-heading text-center">What <span class="brand-symbol">we</span> do</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-4">
            <img class="img-fluid features__image" src="./assets/img/main/musicians.jpeg">
            <h3 class="h5">Thousand musician</h3>
            <p>Spotify works on your computer, mobile, tablet and TV.</p>
          </div>
          <div class="col-sm-4">
            <img class="img-fluid features__image" src="./assets/img/main/instruments.jpeg">
            <h3 class="h5">All instruments and genres</h3>
            <p>No ads. No interruptions. Just music.</p>
          </div>
          <div class="col-sm-4">
            <img class="img-fluid features__image" src="./assets/img/main/service.jpeg">
            <h3 class="h5">All-in-one service</h3>
            <p>Keep playing, even when you don't have a connection.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
