body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-font-color;
  background-color: $white;
}

.section-heading {
  font-weight: 400;
  font-style: normal;
  font-family: $Oswald;
  color: $base-font-color;
  font-size: 60px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-heading:after,
.section-heading:before {
  content: "";
  position: absolute;
}

.features__image {
  padding-top: 60px;
  padding-bottom: 25px;
}
