footer {
  background: $footer-bg-color;
  color: $white;
  padding-top: 80px;
  margin-top: 80px;
}

.footer-logo {
  font-size: 1.5rem;
}

.footer-nav-title {
    color: $gray;
    font-size: 0.9rem;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.copyright {
  height: 60px;
  background: $footer-bg-color-dark;
  font-size: 0.8rem;
  margin-top: 80px;
  .nav-item {
		margin-left: 25px;
	}
}

.footer-social-icons .social-icon {
    fill: #fff;
}

.footer-social-icons .social-icon {
    width: 24px;
    height: 24px;
    -webkit-transition: fill .2s;
    -o-transition: fill .2s;
    transition: fill .2s;
    display: block;
}

.footer-social-icons .social-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
