header {
	height: 850px;
	position: relative;
	overflow: hidden;
	padding-top: 60px;
	margin-top: -120px;
}

.navbar-brand {
	font-family: $Comfortaa;
}

.video-background {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	overflow: hidden;
	z-index: -3;
}

.overlay {
	background: $main-gradient;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: -1;
	opacity: 0.5;
}

.welcome-screen {
	height: 100%;
	font-size: 1.5rem;
	font-family: $Oswald;

	&__h1 {
		font-weight: 400;
		font-style: normal;
		line-height: 0.9;
		letter-spacing: 20px;
		font-size: 7rem;
		text-transform: uppercase;
	}

	&__descr {
		margin: 33px 0;
		font-weight: 300;
		font-style: normal;
		font-family: $base-font-family;
		line-height: 1.4;
		letter-spacing: 0;
	}
}

.brand-symbol {
	color: $corp-color;
}
