<section class="border-bottom large-section text-center">
  <div class="container">
    <h1 class="section-heading text-center">404</h1>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Sorry this page somewhere else</h2>
      </div>
    </div>
  </div>
</section>
