.btn-lg, .btn-group-lg > .btn {
  min-width: 270px;
}

.all-brand-btn {
  transition: all 0.3s;
  line-height: 1;
  padding: 19px;
  font-family: $Oswald;
  text-transform: uppercase;
}

.brand-btn {
  @extend .all-brand-btn;
  @extend .brand-border;
    color: $white;

  &:hover {
    background-color: $white;
    border-color: transparent;
  }
}

.action-btn {
  @extend .all-brand-btn;
  background-color: $blue;
  color: $white;
  border-radius: $rounded-border-radius;
  &:hover {
    background-color: $corp-color-dark;
    color: $white;
  }
}
