.filter-items {
  display: flex;
  list-style: none;
  margin-left: $margin-50;
  font-size: $mainFont + 4px;
  margin-bottom: $margin-50 - 20px;

  &__item {
    padding: 2px 15px;

    &.active {
      background-color: $yellow;
    }
  }
}

.image-cards {
  .row {
    margin-bottom: $margin-50 - 5px;

    > div {
      margin-bottom: 30px;
    }
  }

  &__image {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.5s;

    &:hover .image-cards__image__hover {
      opacity: 1;
    }

    &:hover .image-cards__image__button {
      opacity: 1;
      width: 100px;
      height: 100px;
    }

    &__button {
      background: transparentize($black, 0.5);
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s;

      & i {
        font-size: 50px;
        color: $white;
      }
    }

    &__hover {
      background: transparentize($yellow, 0.5);
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: all 0.5s;
    }

    a {
      display: block;
    }
  }
}

.hided {
  opacity: 0;
}

.hide-image {
  display: none;
}
