.image-carousel {
  margin-bottom: 60px;
}

.carousel-item {
  height: 430px;
}

.overlay-carousel {
  background: transparentize($black, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  z-index: 1;
}
.carousel-control-prev,
.carousel-control-next,
.carousel-caption {
  z-index: 2;
}
