<section class="sellers border-bottom large-section text-center">
  <div class="container">
    <h2 class="section-heading text-center">You're logged in</h2>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="middle-spacing">Users from secure api end point:</p>
        <h2 *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</h2>
        <a [routerLink]="['']" class="btn btn-lg action-btn">Logout</a>
      </div>
    </div>
  </div>
</section>
