<header>

  <div class="welcome-screen container d-flex flex-column justify-content-center align-items-center">
    <div class="welcome-screen__descr">
      <p class="text-white">Make your dreams come true!</p>
    </div>
    <h1 class="welcome-screen__h1 text-white">Music people</h1>
    <div class="welcome-screen__descr">
      <p class="text-white">A professional service for musicians, agencies and businesses. Create your history in minutes.</p>
    </div>
    <a href="" class="btn btn-lg brand-btn">Search musicians</a>
  </div>

  <video class="video-background" autoplay="" loop="" muted="" poster="./assets/img/mp4/assets/header.png">
  <source src="./assets/img/mp4/header.mp4" type="video/mp4">
  <source src="./assets/img/mp4/header.webm" type="video/webm" />
</video>
  <div class="overlay"></div>

</header>

<section class="features border-bottom large-section">
  <div class="container">
    <h2 class="section-heading text-center">What <span class="brand-symbol">we</span> do</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-4">
            <img class="img-fluid features__image" src="./assets/img/main/musicians.jpeg">
            <h3 class="h5">Thousand musician</h3>
            <p>Spotify works on your computer, mobile, tablet and TV.</p>
          </div>
          <div class="col-sm-4">
            <img class="img-fluid features__image" src="./assets/img/main/instruments.jpeg">
            <h3 class="h5">All instruments and genres</h3>
            <p>No ads. No interruptions. Just music.</p>
          </div>
          <div class="col-sm-4">
            <img class="img-fluid features__image" src="./assets/img/main/service.jpeg">
            <h3 class="h5">All-in-one service</h3>
            <p>Keep playing, even when you don't have a connection.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sellers border-bottom large-section text-center">
  <div class="container">
    <h2 class="section-heading text-center">What <span class="brand-symbol">You</span> do</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-4">
            <img class="img-fluid features__image" src="./assets/img/main/musicians.jpeg">
            <h3 class="h5">Find your band</h3>
            <p>Spotify works on your computer, mobile, tablet and TV.</p>
          </div>
          <div class="col-sm-4">
            <img class="img-fluid features__image" src="./assets/img/main/instruments.jpeg">
            <h3 class="h5">Share your arts</h3>
            <p>No ads. No interruptions. Just music.</p>
          </div>
          <div class="col-sm-4">
            <img class="img-fluid features__image" src="./assets/img/main/service.jpeg">
            <h3 class="h5">Shine</h3>
            <p>Keep playing, even when you don't have a connection.</p>
          </div>
        </div>
      </div>
    </div>
    <a href="" class="btn btn-lg brand-btn">Join right now</a>
  </div>
</section>

<section class="features border-bottom large-section">
  <div class="container">
    <h2 class="section-heading text-center">LATEST NEWS</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-4">
            <img class="img-fluid features__image" src="./assets/img/main/musicians.jpeg">
            <h3 class="h5">Listen everywhere</h3>
            <p>Spotify works on your computer, mobile, tablet and TV.</p>
          </div>
          <div class="col-sm-4">
            <img class="img-fluid features__image" src="./assets/img/main/instruments.jpeg">
            <h3 class="h5">Unlimited, ad-free music</h3>
            <p>No ads. No interruptions. Just music.</p>
          </div>
          <div class="col-sm-4">
            <img class="img-fluid features__image" src="./assets/img/main/service.jpeg">
            <h3 class="h5">Download music &amp; listen offline</h3>
            <p>Keep playing, even when you don't have a connection.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sellers border-bottom large-section text-center">
  <div class="container">
    <h2 class="section-heading text-center">A GREAT WAY TO SHARE MUSIC WITH PEOPLE</h2>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="middle-spacing">Are you a music producer? Help us to make our events brighter and collaborate with us. We love music of all genres.</p>
        <a href="" class="btn btn-lg action-btn">Search musicians</a>
      </div>
    </div>
  </div>
</section>

<section id="calltoaction2" class="calltoaction2 border-bottom medium-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 text-left text-white">
        <h2>Build Your Website with Parallel</h2>
        <p>Lorem ipsum veniam adipisicing cupidatat dolor do adipisicing commodo.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-right cta-button">
        <a href="#" class="btn btn-lg action-btn">Download</a> </div>
    </div>
  </div>
</section>

<section id="services" class="services border-bottom large-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading">
        <h2 class="section-heading text-center">Services</h2>
        <p class="subtitle">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>
      </div>
      <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat commodo enim aliquet laoreet. Mauris vel egestas erat, vitae feugiat ligula. Cras quis commodo ex, consequat consectetur quam. Etiam accumsan in nunc vitae bibendum. Curabitur
          dignissim non nisi quis vestibulum. Quisque porta ipsum vitae metus tempus, vel convallis dui efficitur. Praesent vitae mattis augue. Curabitur ornare mollis mi, at laoreet leo tempor id. Nam ornare erat vel augue tempor pretium. Morbi porta
          pellentesque dolor ullamcorper viverra. Phasellus mattis ipsum eget ipsum cursus, id interdum nibh laoreet.</p>
      </div>
    </div>
    <div class="row multi-columns-row">
      <div class="col-sm-6 col-md-6 col-lg-6 service" data-sr-id="19" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><i class="fa fa-code"></i>
        <h3>Web Development</h3>
        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla.</p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 service" data-sr-id="20" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><i class="fa fa-coffee"></i>
        <h3>Consulting</h3>
        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla.</p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 service" data-sr-id="21" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><i class="fa fa-paint-brush"></i>
        <h3>Graphic Design</h3>
        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla.</p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 service" data-sr-id="22" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><i class="fa fa-line-chart"></i>
        <h3>Marketing</h3>
        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla.</p>
      </div>
    </div>
  </div>
</section>

<section id="newsletter" class="newsletter border-bottom small-section">
  <div class="blacklayer"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Newsletter Sign-up Form</h2>
        <p>Lorem ipsum veniam adipisicing cupidatat dolor do adipisicing commodo.</p>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <form method="post" data-name="Newsletter">
          <div class="form-fields">
            <div class="input-group input-group-lg">
              <input type="email" name="EMAIL" placeholder="Enter your email" class="form-control" required="">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Subscribe</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section id="brands" class="brands medium-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading text-center">
        <h2 class="section-heading text-center">Our Partners</h2>
        <p class="middle-spacing">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>
      </div>
    </div>
    <div class="row multi-columns-row">
      <div class="col-sm-2 col-md-2 col-lg-2"><img src="http://demo.themely.com/parallel/wp-content/uploads/2017/05/brand1.png" class="img-fluid center-block"></div>
      <div class="col-sm-2 col-md-2 col-lg-2"><img src="http://demo.themely.com/parallel/wp-content/uploads/2017/05/brand2.png" class="img-fluid center-block"></div>
      <div class="col-sm-2 col-md-2 col-lg-2"><img src="http://demo.themely.com/parallel/wp-content/uploads/2017/05/brand3.png" class="img-fluid center-block"></div>
      <div class="col-sm-2 col-md-2 col-lg-2"><img src="http://demo.themely.com/parallel/wp-content/uploads/2017/05/brand4.png" class="img-fluid center-block"></div>
      <div class="col-sm-2 col-md-2 col-lg-2"><img src="http://demo.themely.com/parallel/wp-content/uploads/2017/05/brand5.png" class="img-fluid center-block"></div>
      <div class="col-sm-2 col-md-2 col-lg-2"><img src="http://demo.themely.com/parallel/wp-content/uploads/2017/05/brand6.png" class="img-fluid center-block"></div>
    </div>
  </div>
</section>
