body {
  background: $mainColor;
  color: $textColor;
}
@media only screen and (min-width:$xlarge) {
  .container {
    max-width: 1200px;
  }
}

.nav-item a,
h1,
h2 {
  text-transform: uppercase;
}

nav {
  .nav-item {
    margin-right: $margin-50;
    font-size: $mainFont - 2px;

    &.active {
      background: $yellow;
    }
  }

  .nav-link {
    color: $grey;
    padding: 17px;
    transition: all 0.5s;

    &:hover {
      background: $yellow;
      height: 52px;
      cursor: pointer;
    }
  }
}

.navbar-brand {
  padding: 20px 50px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.header-image {
  background: url('../img/bg.png') 50% 50%;
  height: 110px;
  padding: 0 51px;
  display: flex;
  align-items: center;

  &__h1 {
    display: inline-block;
    background: $grey;
    color: $yellow;
    padding: 10px 80px 10px 15px;
    font-size: 25px;
    margin: 0;
  }
}

.headline {
  &.text-center {
    margin: $margin-50+7px auto $margin-50+1px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: $mainFont + 4px;
  }
}

.image-carousel {
  margin-bottom: 60px;
}

.carousel-item {
  height: 430px;
}

.filter-items {
  display: flex;
  list-style: none;
  margin-left: $margin-50;
  font-size: $mainFont + 4px;
  margin-bottom: $margin-50 - 20px;

  &__item {
    padding: 2px 15px;

    &.active {
      background-color: $yellow;
    }
  }
}

.image-cards {
  .row {
    margin-bottom: $margin-50 - 5px;

    > div {
      margin-bottom: 30px;
    }
  }

  &__image {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.5s;

    &:hover .image-cards__image__hover {
      opacity: 1;
    }

    &:hover .image-cards__image__button {
      opacity: 1;
      width: 100px;
      height: 100px;
    }

    &__button {
      background: transparentize($black, 0.5);
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s;

      & i {
        font-size: 50px;
        color: $white;
      }
    }

    &__hover {
      background: transparentize($yellow, 0.5);
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: all 0.5s;
    }

    a {
      display: block;
    }
  }
}

.hided {
  opacity: 0;
}

.hide-image {
  display: none;
}

footer {
  background: $grey;
  color: $white;
  margin-top: 80px;

  .row > div {
    padding: 0 25px;
  }

  a,
  a:hover {
    color: $yellow;
  }

  p {
    margin: 0;
    font-size: 11px;
  }

  h4 {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 15px;
  }

  .readmore {
    background: $black;
    border-bottom: 2px solid $yellow;
    padding: 5px 15px;
    color: $white;
    font-size: 12px;
    margin-top: 15px;
  }
}

.footer-menu {
  padding: 15px 90px;

  &__latest {
    margin-bottom: $footerMargin-20;

    i {
      padding: 10px 15px 10px 0;
      font-size: 20px;
    }

    small {
      font-size: 9px;
      color: $yellow;
    }
  }

  &__about {
    margin-bottom: $footerMargin-20 + 10px;

    p {
      margin-bottom: 20px;
    }
  }

  &__social {
    i {
      background: $black;
      padding: 3px;
      margin: 0 5px;
    }
  }

  &__contact {
    margin-bottom: $footerMargin-20;

    &__block {
      padding-top: 20px;

      .media-body {
        margin-bottom: 15px;
      }
    }

    &__icon {
      background: $black;
      padding: 3px;
      margin: 0 10px;
    }
  }

  .stream-cards__image {
    margin: 2px;
  }

  &__follow {
    &__form {
      margin-top: 10px;

      &__input {
        @extend .input-resize;
        border-bottom: 2px solid $yellow;
      }

      &__button {
        @extend .input-resize;

        &__icon {
          background: $black;
          color: $white;
          padding: 5px;
        }
      }
    }
  }
}

.copyright {
  height: 50px;
  padding: 0 90px;
  background: darken($grey, 25%);

  .nav-item {
    margin-left: 50px;
  }

  a {
    color: $white;
  }
}

.modal-w {
  display: none;
  background: #fff;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 2px;
  opacity: 0;
  overflow: visible;
  animation-name: animate-slide;
  animation-duration: 0.4s;

  &.active {
    width: 500px;
    display: block;
    opacity: 1;
    position: fixed;
    z-index: 2;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
  display: none;
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30px;
  right: -10px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: $white;
}
@keyframes animate-slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.descr {
  padding: 10px;

  p {
    margin: 0;
  }
}

.overlay-carousel {
  background: transparentize($black, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  z-index: 1;
}
.carousel-control-prev,
.carousel-control-next,
.carousel-caption {
  z-index: 2;
}
