@charset "UTF-8";

.border-bottom {
  border-bottom: 1px solid $base-border-color;
}

.border-top {
  border-top: 1px solid $base-border-color;
}

.brand-border {
  border: $base-border-weight $base-border-style $brand-border-color;
  border-radius: $rounded-border-radius;
}

.middle-spacing {
  padding: 40px 0;
}

.small-section {
  padding: 40px 0;
}

.medium-section {
  padding: 80px 0;
}

.large-section {
  padding: 140px 0;
}

a {
  color: #337ab7;
  text-decoration: none;

  a:focus,
  a:hover {
    color: $corp-color;
    text-decoration: none;
  }

  a:active,
  a:hover {
    outline: 0;
  }
}
