@charset "UTF-8";
$base-border-weight: 2px !default;
$base-border-style: solid !default;
$rounded-border-radius: 50px !default;
$standart-border-radius: 2px !default;
$base-border-color: #dce3ea !default;
$brand-border-color: rgba(255,255,255,0.3);

$mainFont: 14px;
$margin-50: 50px;
$xlarge: 1024px;
$footerMargin-20: 20px;

.input-resize {
  background: no-repeat;
  border: 0;
}
