<section class="container">
  <div class="filter-menu">
    <ul class="filter-items">
      <li class="filter-items__item active" id="filter-all">All</li>
      <li class="filter-items__item" id="filter-website">Website</li>
      <li class="filter-items__item" id="filter-logo">Logo</li>
      <li class="filter-items__item" id="filter-uikit">UI kit</li>
      <li class="filter-items__item" id="filter-photo">Photo</li>
      <li class="filter-items__item" id="filter-app">App Design</li>
    </ul>
  </div>
  <div class="image-cards">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="image-cards__image" id="logo">
          <img src="./assets/public-img/products/1.png" alt="" class="img-fluid">
          <div class="image-cards__image__hover"></div>
          <div class="image-cards__image__button"><i class="image-cards__image__icon fa fa-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-cards__image" id="website">
          <img src="./assets/public-img/products/2.png" alt="Lorem ipsum dolor sit ammet" class=" img-fluid">
          <div class="image-cards__image__hover"></div>
          <div class="image-cards__image__button"><i class="image-cards__image__icon fa fa-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-cards__image" id="uikit">
          <img src="./assets/public-img/products/3.png" alt="Lorem ipsum dolor sit ammet" class=" img-fluid">
          <div class="image-cards__image__hover"></div>
          <div class="image-cards__image__button"><i class="image-cards__image__icon fa fa-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-cards__image" id="uikit">
          <img src="./assets/public-img/products/4.png" alt="Lorem ipsum dolor sit ammet" class=" img-fluid">
          <div class="image-cards__image__hover"></div>
          <div class="image-cards__image__button"><i class="image-cards__image__icon fa fa-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-cards__image" id="website">
          <img src="./assets/public-img/products/5.png" alt="Lorem ipsum dolor sit ammet" class=" img-fluid">
          <div class="image-cards__image__hover"></div>
          <div class="image-cards__image__button"><i class="image-cards__image__icon fa fa-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-cards__image" id="photo">
          <img src="./assets/public-img/products/6.png" alt="Lorem ipsum dolor sit ammet" class=" img-fluid">
          <div class="image-cards__image__hover"></div>
          <div class="image-cards__image__button"><i class="image-cards__image__icon fa fa-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-cards__image" id="photo">
          <img src="./assets/public-img/products/7.png" alt="Lorem ipsum dolor sit ammet" class=" img-fluid">
          <div class="image-cards__image__hover"></div>
          <div class="image-cards__image__button"><i class="image-cards__image__icon fa fa-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-cards__image" id="appdesign">
          <img src="./assets/public-img/products/8.png" alt="Lorem ipsum dolor sit ammet" class=" img-fluid">
          <div class="image-cards__image__hover"></div>
          <div class="image-cards__image__button"><i class="image-cards__image__icon fa fa-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-cards__image" id="uikit">
          <img src="./assets/public-img/products/9.png" alt="Lorem ipsum dolor sit ammet" class=" img-fluid">
          <div class="image-cards__image__hover"></div>
          <div class="image-cards__image__button"><i class="image-cards__image__icon fa fa-arrow-right"></i></div>
        </div>
      </div>

      <div class="col-md-4" *ngFor="let item of products">
        <div class="image-cards__image" id="{{item.id}}">
        <img src="{{item.url}}" alt="{{item.title}}" class="img-fluid">
        <div class="image-cards__image__hover" ></div>
        <div class="image-cards__image__button"><i class="image-cards__image__icon fa fa-arrow-right"></i></div>
        </div>
      </div>


    </div>
  </div>
<div class="text-center"><button class="btn btn-success upload-images" (click)="loadMore();">Загурзить еще <i class="fa fa-plus-circle"></i></button></div>

</section>
