@charset "UTF-8";
// Colors

$black: #000;
$white: #fff;
$red: #e2061c;
$gray: #838282;
$gray-light: lightnes($gray, 25%);
$gray-dark: darken($gray, 25%);
$blue: #00b7ff;
$main-font-color: #262626;
$main-body-color: #F6F6F6;

// Corp-Colors
$corp-color: $blue !default;
$corp-color-dark: darken($corp-color, 15%) !default;
$corp-color-second: $red !default;
$corp-color-second-dark: darken($corp-color-second, 15%) !default;
$footer-bg-color: darken($corp-color, 45%) !default;
$footer-bg-color-dark: darken($footer-bg-color, 15%) !default;
