@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Comfortaa:300,regular,700|Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic|Oswald:200,300,regular,500,600,700&subset=cyrillic-ext,greek,vietnamese,cyrillic,latin,latin-ext,greek-ext);
// Font
$base-font-size: 16px !default;
$base-font-family: 'Open Sans', sans-serif !default;
$base-font-color: $gray-dark !default;

$Comfortaa: 'Comfortaa', display;
$Oswald: 'Oswald', sans-serif;
